<section class="grid-layout grid-layout--alert">
	<div class="container">
		<h2 class="grid-layout__title section-title">
			Предупреждение
		</h2>
		<div class="grid-layout__wrapper">
			<div class="grid-layout__main{{ class ? ' ' ~ class }}">
				<div class="alert">
					<div class="alert__text">
						<p>
							Уважаемые клиенты! Безопасность проведения транзакций может быть поставлена под угрозу, в
							связи с независящими от нашего сервиса обстоятельствами. Чтобы этого не произошло,
							рекомендуем ознакомиться со следующими правилами конвертации электронной валюты:
						</p>
					</div>
					<ul class="alert__list">
						<li>
							Всегда требуйте подтверждения личности лица, на реквизиты которого вы собираетесь выполнить
							перевод средств. Сделать это можно посредством личного звонка на skype, icq либо посредством
							запроса информации о статусе кошелька оппонента на сайте платежной системы;
						</li>
						<li>
							Будьте предельно внимательны при заполнении поля «Номер счета» адресата. Допустив ошибку, вы
							отправляете собственные средства в неизвестном направлении без возможности их возврата;
						</li>
						<li>
							Никогда не предоставляете займы, используя «безотзывные» электронные системы оплаты. В
							данном случае шанс столкнуться с фактом мошенничества чрезвычайно велик;
						</li>
						<li>
							Если вам предлагается сделать оплату способом, отличным от указанного в инструкции к
							использованию нашего сервиса, откажитесь от выполнения платежа и сообщите о случившемся
							нашему специалисту. То же касается выплат по заявкам, созданным не лично вами;
						</li>
						<li>
							Откажитесь от проведения средств, собственниками которых являются третьи лица, через
							собственные банковские счета. Известны случаи, когда проведение таких транзакций за
							вознаграждение, приводило к тому, что владелец счета становился соучастником финансового
							преступления, не подозревая о злом умысле со стороны мошенников;
						</li>
						<li>
							Всегда уточняйте у сотрудника обменного пункта информацию, приходящую на вашу почту.
						</li>
					</ul>
					<div class="alert__text">
						<p>
							Наш и подобные сервисы не предоставляют займов, не берут средства у пользователей в долг или
							под проценты, не принимают пожертвований. При получении сообщений подозрительного характера
							от нашего имени с похожих на наши либо иных реквизитов, воздержитесь от выполнения указанных
							там требований и сообщите о произошедшем в нашу
							<a href="#">службы поддержки</a>.
						</p>
					</div>
					<div class="alert__text">
						<p>
							С заботой о вашем финансовом благополучии.
						</p>
					</div>
				</div>
			</div>
			<div class="grid-layout__secondary">
				{% include '../../components/authorization.twig' %}
				<div class="latest-exchanges">
					{% include '../../blocks/latest-exchange.twig' with {
						class:'latest-exchange--news',
						title:'Последние обмены',
						head:true,
						cardExchange:[
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
						]
					} only %}
					<a href="exchange.html" class="b-btn b-btn--secondary">
						Обменять валюту
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
