<section class="grid-layout grid-layout--user">
	<div class="container">
		<h2 class="grid-layout__title section-title">
			Партнерский аккаунт
		</h2>
		<div class="grid-layout__wrapper grid-layout__wrapper--user">
			<div class="grid-layout__main{{ class ? ' ' ~ class }}">
				<div class="user box-panel">
					<div class="user__wrapper">
						<div class="user__top">
							E-mail
						</div>
						<div class="user__bottom">
							AlexanderProkhorov@gmail.com
						</div>
					</div>
				</div>
				<div class="user user--partners box-panel">
					<div class="user__wrapper">
						<div class="user__top">
							ID
						</div>
						<div class="user__bottom">
							56789
						</div>
					</div>
				</div>
				<div class="user user--partners box-panel">
					<div class="user__wrapper">
						<div class="user__top">
							Дата регистрации
						</div>
						<div class="user__bottom">
							23/11/2023
						</div>
					</div>
				</div>
				<div class="user user--partners box-panel">
					<div class="user__wrapper">
						<div class="user__top">
							Ваш партнерский %
						</div>
						<div class="user__bottom">
							12%
						</div>
					</div>
				</div>
				<div class="user box-panel">
					<div class="user__wrapper user__wrapper--row">
						<h5 class="user__title block-title">Скачать архив операций</h5>
						<a href="#" class="b-btn b-btn--secondary b-btn--icon" download="">
							<span>Скачать</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							     fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd"
								      d="M10.738 3.25C9.96436 3.25 9.31904 3.84123 9.25148 4.61189C9.11024 6.22317 9.0745 7.84164 9.14436 9.45693C9.06003 9.46258 8.97571 9.46847 8.8914 9.47462L7.4019 9.5832C6.44985 9.6526 5.91764 10.7142 6.43163 11.5185C7.5278 13.2341 8.94026 14.7254 10.5937 15.9132L11.1904 16.3418C11.6743 16.6894 12.3259 16.6894 12.8097 16.3418L13.4065 15.9132C15.0599 14.7254 16.4724 13.2341 17.5685 11.5185C18.0825 10.7142 17.5503 9.6526 16.5983 9.5832L15.1088 9.47462C15.0245 9.46847 14.9401 9.46258 14.8558 9.45693C14.9257 7.84164 14.8899 6.22317 14.7487 4.61188C14.6811 3.84123 14.0358 3.25 13.2622 3.25H10.738ZM10.6816 10.1147C10.5679 8.3275 10.5891 6.53417 10.7451 4.75H13.255C13.4111 6.53417 13.4323 8.3275 13.3186 10.1147C13.3058 10.3151 13.374 10.5122 13.5077 10.662C13.6414 10.8117 13.8296 10.9016 14.0302 10.9114C14.3535 10.9274 14.6767 10.9471 14.9997 10.9707L16.0815 11.0495C15.1219 12.4628 13.9204 13.6971 12.5313 14.6949L12.0001 15.0765L11.4688 14.6949C10.0797 13.6971 8.87824 12.4628 7.9187 11.0495L9.00046 10.9707C9.32345 10.9471 9.64664 10.9274 9.96999 10.9114C10.1705 10.9016 10.3587 10.8117 10.4925 10.662C10.6262 10.5122 10.6943 10.3151 10.6816 10.1147Z"
								      fill="#1F1F1E"/>
								<path d="M5.75 17C5.75 16.5858 5.41421 16.25 5 16.25C4.58579 16.25 4.25 16.5858 4.25 17V19C4.25 19.9665 5.0335 20.75 6 20.75H18C18.9665 20.75 19.75 19.9665 19.75 19V17C19.75 16.5858 19.4142 16.25 19 16.25C18.5858 16.25 18.25 16.5858 18.25 17V19C18.25 19.1381 18.1381 19.25 18 19.25H6C5.86193 19.25 5.75 19.1381 5.75 19V17Z"
								      fill="#1F1F1E"/>
							</svg>
						</a>
					</div>
				</div>
				<div class="user box-panel">
					<div class="user__wrapper user__wrapper--row">
						<h5 class="user__title block-title">REST API ключ</h5>
						<div class="api-key">
							<div class="api-key__wrapper">
								<div class="api-key__value" data-copy="textToCopy">
									SDLSxcnxcnld93pweDKL;LKLJjknmnc
								</div>
								<button type="button" class="api-key__сopy" data-copy="copyButton">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									     fill="none">
										<path d="M9 3.25C5.82436 3.25 3.25 5.82436 3.25 9V16.1069C3.25 16.5211 3.58579 16.8569 4 16.8569C4.41421 16.8569 4.75 16.5211 4.75 16.1069V9C4.75 6.65279 6.65279 4.75 9 4.75H16.0129C16.4271 4.75 16.7629 4.41421 16.7629 4C16.7629 3.58579 16.4271 3.25 16.0129 3.25H9Z"
										      fill="#1F1F1E"/>
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M18.4026 6.79326C15.1616 6.43104 11.8384 6.43104 8.59748 6.79326C7.6742 6.89645 6.93227 7.62304 6.82344 8.55348C6.43906 11.84 6.43906 15.16 6.82344 18.4465C6.93227 19.377 7.6742 20.1035 8.59748 20.2067C11.8384 20.569 15.1616 20.569 18.4026 20.2067C19.3258 20.1035 20.0678 19.377 20.1766 18.4465C20.561 15.16 20.561 11.84 20.1766 8.55348C20.0678 7.62304 19.3258 6.89645 18.4026 6.79326ZM8.76409 8.28398C11.8943 7.93413 15.1057 7.93413 18.2359 8.28398C18.4733 8.3105 18.6599 8.49821 18.6867 8.72773C19.0576 11.8984 19.0576 15.1016 18.6867 18.2723C18.6599 18.5018 18.4733 18.6895 18.2359 18.716C15.1057 19.0659 11.8943 19.0659 8.76409 18.716C8.52674 18.6895 8.34013 18.5018 8.31329 18.2723C7.94245 15.1016 7.94245 11.8984 8.31329 8.72773C8.34013 8.49821 8.52674 8.3105 8.76409 8.28398Z"
										      fill="#1F1F1E"/>
									</svg>
								</button>
							</div>
							<button type="button" class="b-btn b-btn--secondary b-btn--icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								     fill="none">
									<path d="M6.54616 8.16271C6.33094 8.10593 6.15206 7.95649 6.0579 7.7548C5.96374 7.55312 5.96402 7.32002 6.05868 7.11857L7.71944 3.58418C7.8432 3.3208 8.10815 3.15278 8.39916 3.15314C8.69018 3.1535 8.95471 3.32217 9.07782 3.58586L9.81045 5.1551C9.83664 5.1448 9.86368 5.13588 9.89151 5.12842C14.2389 3.96355 18.7074 6.54346 19.8723 10.8908C21.0371 15.2382 18.4572 19.7067 14.1099 20.8716C9.76253 22.0364 5.29399 19.4565 4.12912 15.1092C3.7587 13.7267 3.76704 12.3298 4.09147 11.0311C4.19186 10.6292 4.59901 10.3849 5.00088 10.4852C5.40274 10.5856 5.64714 10.9928 5.54675 11.3947C5.28245 12.4526 5.27517 13.5907 5.57801 14.7209C6.52847 18.2681 10.1745 20.3731 13.7216 19.4227C17.2688 18.4722 19.3738 14.8262 18.4234 11.279C17.4885 7.78989 13.9454 5.69607 10.4538 6.53313L11.193 8.11643C11.3161 8.38012 11.2756 8.69122 11.089 8.91455C10.9024 9.13789 10.6035 9.23313 10.3221 9.15889L6.54616 8.16271Z"
									      fill="#1F1F1E"/>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="user box-panel">
					<h5 class="user__title block-title">
						Ваши операции
					</h5>
					{% include '../../components/fields/user-list.twig' with {
						userList:[
							{
								'name':'Посетителей',
								'value':'0'
							},
							{
								'name':'Количество рефералов',
								'value':'0'
							},
							{
								'name':'Обменов',
								'value':'0'
							},
							{
								'name':'Сумма обменов',
								'value':'0'
							},
							{
								'name':'CTR',
								'value':'0'
							},
							{
								'name':'Заработано за все время',
								'value':'0'
							},
							{
								'name':'Ожидают выплаты',
								'value':'0'
							},
							{
								'name':'Выплачено',
								'value':'0'
							},
							{
								'name':'Текущий баланс',
								'value':'0'
							},
							{
								'name':'Доступно для выплаты',
								'value':'0'
							}
						]
					} only %}
				</div>
				<div class="user box-panel">
					<h5 class="user__title block-title">
						Ваши операции
					</h5>
					<div class="user__about">
						<p>
							Данная операция производится оператором в ручном режиме и занимает от 5 до 30 минут в
							рабочее время (см. статус оператора).
						</p>
						<p>
							Если ваша транзакция биткоин подтверждается более
							60 минут — то при изменении курса на бирже более чем на 1 процент, она будет пересчитана в
							момент 1 подтверждения по текущему курсу биткоин
						</p>
					</div>
					{% include '../../components/fields/textarea.twig' with {
						class:'group-label--partners',
						textarea:[
							{
								'for':'mailing-list',
								'classMode':'group-label__name--input, group-label__name--noImportant',
								'title':'Партнерская ссылка',
								'placeholder':'',
								'text':'Каждый с новой строки'
							},
							{
								'for':'html',
								'classMode':'group-label__name--input, group-label__name--noImportant',
								'title':'Партнерская ссылка в HTML-коде (для размещения на сайтах и блогах)',
								'placeholder':'',
								'text':'Каждый с новой строки'
							},
							{
								'for':'html-hidden',
								'classMode':'group-label__name--input, group-label__name--noImportant',
								'title':'Скрытая партнерская ссылка в HTML-коде (для размещения на сайтах и блогах)',
								'placeholder':'',
								'text':'Каждый с новой строки'
							},
							{
								'for':'html-bbcode',
								'classMode':'group-label__name--input, group-label__name--noImportant',
								'title':'Партнерская ссылка в BBCode (для размещения на форумах)',
								'placeholder':'',
								'text':'Каждый с новой строки'
							},
						]
					} only %}
				</div>
			</div>
			<div class="grid-layout__secondary">
				{% include '../../components/user/user-nav.twig' with {} only %}
				<div class="latest-exchanges">
					{% include '../../blocks/latest-exchange.twig' with {
						class:'latest-exchange--news',
						title:'Последние обмены',
						head:true,
						cardExchange:[
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
						]
					} only %}
					<a href="exchange.html" class="b-btn b-btn--secondary">
						Обменять валюту
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
