<section class="grid-layout grid-layout--user">
	<div class="container">
		<h2 class="grid-layout__title section-title">
			Рекламные материалы
		</h2>
		<div class="grid-layout__wrapper grid-layout__wrapper--user">
			<div class="grid-layout__main{{ class ? ' ' ~ class }}">
				<div class="user box-panel">
					<h5 class="user__title block-title">Баннеры</h5>
					<div class="user__wrapper">
						<div class="user-banner">
							<div class="user-banner__wrapper">
								<img src="images/icon/user-banner.jpg" alt="" width="763" height="267">
							</div>
							<div class="user-banner__buttons">
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>468x60</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>200x200</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>120x600</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>100x100</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>88x31</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>336x280</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>240x400</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>125x125</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>728x90</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
								<a href="#" class="b-btn b-btn--secondary b-btn--icon">
									<span>160x600</span>
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24"
									     fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M10.8376 3.25C10.064 3.25 9.41865 3.84123 9.35109 4.61189C9.20985 6.22317 9.17411 7.84164 9.24397 9.45693C9.15964 9.46258 9.07532 9.46847 8.99101 9.47462L7.50151 9.5832C6.54946 9.6526 6.01725 10.7142 6.53124 11.5185C7.62741 13.2341 9.03987 14.7254 10.6933 15.9132L11.29 16.3418C11.7739 16.6894 12.4255 16.6894 12.9093 16.3418L13.5061 15.9132C15.1595 14.7254 16.572 13.2341 17.6681 11.5185C18.1821 10.7142 17.6499 9.6526 16.6979 9.5832L15.2084 9.47462C15.1241 9.46847 15.0397 9.46258 14.9554 9.45693C15.0253 7.84164 14.9895 6.22317 14.8483 4.61188C14.7807 3.84123 14.1354 3.25 13.3618 3.25H10.8376ZM10.7812 10.1147C10.6675 8.3275 10.6887 6.53417 10.8447 4.75H13.3546C13.5107 6.53417 13.5319 8.3275 13.4182 10.1147C13.4054 10.3151 13.4736 10.5122 13.6073 10.662C13.7411 10.8117 13.9292 10.9016 14.1298 10.9114C14.4531 10.9274 14.7763 10.9471 15.0993 10.9707L16.1811 11.0495C15.2215 12.4628 14.02 13.6971 12.6309 14.6949L12.0997 15.0765L11.5684 14.6949C10.1793 13.6971 8.97785 12.4628 8.01831 11.0495L9.10007 10.9707C9.42306 10.9471 9.74625 10.9274 10.0696 10.9114C10.2701 10.9016 10.4583 10.8117 10.5921 10.662C10.7258 10.5122 10.7939 10.3151 10.7812 10.1147Z"
										      fill="white"/>
										<path d="M5.84961 17C5.84961 16.5858 5.51382 16.25 5.09961 16.25C4.6854 16.25 4.34961 16.5858 4.34961 17V19C4.34961 19.9665 5.13311 20.75 6.09961 20.75H18.0996C19.0661 20.75 19.8496 19.9665 19.8496 19V17C19.8496 16.5858 19.5138 16.25 19.0996 16.25C18.6854 16.25 18.3496 16.5858 18.3496 17V19C18.3496 19.1381 18.2377 19.25 18.0996 19.25H6.09961C5.96154 19.25 5.84961 19.1381 5.84961 19V17Z"
										      fill="white"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid-layout__secondary">
				{% include '../../components/user/user-nav.twig' with {} only %}
				<div class="latest-exchanges">
					{% include '../../blocks/latest-exchange.twig' with {
						class:'latest-exchange--news',
						title:'Последние обмены',
						head:true,
						cardExchange:[
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
							{
								'class':'box-panel',
								'date':'10/11/2023',
								'time':'21:02',
								'img':'images/icon/moon-big.svg',
								'value':'1016.26016',
								'currency':'USD',
								'imgSecond':'images/icon/moon-big.svg',
								'valueSecond':'1016.26016',
								'currencySecond':'USD',
							},
						]
					} only %}
					<a href="exchange.html" class="b-btn b-btn--secondary">
						Обменять валюту
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
