<div class="card-reserve{{ class ? ' ' ~ class }} box-panel">
	<div class="card-reserve__icon">
		<img src="{{ item.icon }}" alt="">
	</div>
	<div class="card-reserve__wrap">
		<div class="card-reserve__value">
			{{ item.value }}
		</div>
		<div class="card-reserve__currency">
			{{ item.currency }}
		</div>
	</div>
</div>



