.user-list {

}

.user-list__item {
	display         : flex;
	align-items     : center;
	justify-content : space-between;
	color           : var(--text-color);
	font-size       : 18px;
	font-weight     : 500;
	line-height     : 133.333%;
	letter-spacing  : -0.36px;
	padding         : 24px 0;

	&:not(:last-child) {
		border-bottom : 1px solid var(--border-line);
	}

	&:first-child {
		padding-top : 0;
	}

	&:last-child {
		padding-bottom : 0;
	}
}
