@font-face {
	font-family  : 'Inter';
	src          : url('../fonts/inter-regular.woff2') format('woff2'),
	url('../fonts/inter-regular.woff') format('woff'),
	url('../fonts/inter-regular.ttf') format('truetype');
	font-weight  : 400;
	font-style   : normal;
	font-display : swap;
}

@font-face {
	font-family  : 'Inter';
	src          : url('../fonts/inter-medium.woff2') format('woff2'),
	url('../fonts/inter-medium.woff') format('woff'),
	url('../fonts/inter-medium.ttf') format('truetype');
	font-weight  : 500;
	font-style   : normal;
	font-display : swap;
}

@font-face {
	font-family  : 'Unbounded';
	src          : url('../fonts/unbounded-medium.woff2') format('woff2'),
	url('../fonts/unbounded-medium.woff') format('woff'),
	url('../fonts/unbounded-medium.ttf') format('truetype');
	font-weight  : 500;
	font-style   : normal;
	font-display : swap;
}
