<section class="hero">
	<div class="container">
		<div class="hero__wrapper box-panel">
			<h1 class="hero__title">
				{{ heroTitle }}
			</h1>
			<div class="hero__text">
				<p>
					{{ heroText }}
				</p>
			</div>
			<a href="exchange.html" class="b-btn b-btn--primary">
				{{ heroBtn }}
			</a>
			<div class="hero-img">
				<div class="hero-img__item">
					<picture>
						<source media="(min-width: 1024px)"
						        srcset="images/home/hero/hero.webp 1x, images/home/hero/hero@2x.webp 1.3x"
						        type="image/webp">
						<source media="(min-width: 1024px)"
						        srcset="images/home/hero/hero.png 1x, images/home/hero/hero@2x.png 1.3x"
						        type="image/png">
						<source srcset="images/home/hero/hero-mob.webp 1x, images/home/hero/hero-mob@2x.webp 1.3x"
						        type="image/webp">
						<source srcset="images/home/hero/hero-mob.png 1x, images/home/hero/hero-mob@2x.png 1.3x"
						        type="image/png">
						<img src="images/home/hero/hero-mob.png" alt="" loading="lazy">
					</picture>
				</div>
				<svg class="circle-bg" width="601" height="601" viewBox="0 0 601 601" fill="none"
				     xmlns="http://www.w3.org/2000/svg">
					<circle cx="300.5" cy="300.5" r="300.5" fill="url(#paint0_radial_113_14066)"/>
					<defs>
						<radialGradient id="paint0_radial_113_14066" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
						                gradientTransform="translate(300.5 300.5) rotate(90) scale(300.5)">
							<stop stop-color="#CEEF4C"/>
							<stop offset="0.989583" stop-color="white" stop-opacity="0"/>
						</radialGradient>
					</defs>
				</svg>
			</div>
			<div class="hero__socials">
				{% include '../site/social.twig' with {
					class:'s-block--hero',
					socials:[
						{
							link:'#',
							icon: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
										      d="M6.75225 16.3562C6.80332 16.3734 6.85486 16.3856 6.90636 16.3931C6.96252 16.5251 7.03508 16.6958 7.11973 16.8954C7.32632 17.3827 7.60467 18.0416 7.89199 18.7291C8.47794 20.1311 9.069 21.5763 9.19953 21.9899C9.36113 22.5013 9.53194 22.849 9.71841 23.0863C9.81483 23.209 9.92634 23.3162 10.0568 23.3974C10.1225 23.4382 10.1919 23.4717 10.2643 23.4967C10.2675 23.4978 10.2707 23.4989 10.2739 23.4999C10.6472 23.6409 10.9876 23.5822 11.2007 23.5104C11.3148 23.472 11.407 23.4256 11.4724 23.388C11.5058 23.3688 11.5339 23.3509 11.5564 23.3358L11.5617 23.3322L14.859 21.276L18.6676 24.196C18.7238 24.2391 18.785 24.2752 18.85 24.3035C19.3075 24.5032 19.7506 24.5728 20.1674 24.5159C20.5835 24.4591 20.9138 24.2842 21.1597 24.0875C21.4006 23.8948 21.5638 23.6791 21.6655 23.5187C21.7174 23.4368 21.7564 23.3644 21.7839 23.3089C21.7977 23.2811 21.8088 23.257 21.8174 23.2377L21.8284 23.2123L21.8325 23.2023L21.8342 23.1981L21.835 23.1961L21.8358 23.1943C21.8558 23.1442 21.8711 23.0925 21.8816 23.0396L25.3585 5.50986C25.3697 5.4538 25.3753 5.39678 25.3753 5.33963C25.3753 4.82628 25.1818 4.33814 24.727 4.04193C24.3383 3.78877 23.9053 3.77787 23.6316 3.79864C23.3364 3.82105 23.0637 3.89393 22.8808 3.95217C22.7856 3.98247 22.7057 4.01171 22.6482 4.03402C22.6192 4.04523 22.5955 4.05485 22.5779 4.06219L22.5646 4.06777L3.06525 11.7171L3.06273 11.718C3.0503 11.7225 3.03434 11.7285 3.01538 11.7358C2.97763 11.7505 2.92704 11.7713 2.86794 11.798C2.75269 11.8503 2.59102 11.9319 2.42511 12.0455C2.16005 12.227 1.55048 12.7241 1.65313 13.5447C1.73501 14.1992 2.18346 14.6013 2.45668 14.7946C2.6067 14.9007 2.74923 14.9766 2.85303 15.0261C2.90118 15.049 3.00116 15.0896 3.04454 15.1072L3.05549 15.1117L6.75225 16.3562ZM23.247 5.67917L23.2443 5.68035C23.2346 5.68458 23.2248 5.68862 23.2149 5.69249L3.69192 13.3511C3.68173 13.3551 3.67146 13.3589 3.66112 13.3625L3.65026 13.3666C3.63777 13.3715 3.61674 13.38 3.59035 13.392C3.57538 13.3988 3.55977 13.4062 3.54384 13.4141C3.56572 13.4264 3.58666 13.4371 3.60526 13.446C3.62312 13.4545 3.63675 13.4603 3.6442 13.4634L7.31061 14.6977C7.37771 14.7203 7.44027 14.7502 7.4977 14.7863L19.6039 7.69939L19.6152 7.69269C19.6241 7.68748 19.6357 7.68078 19.6495 7.67294C19.6771 7.65736 19.715 7.63662 19.76 7.6137C19.844 7.57094 19.9784 7.50746 20.1299 7.46066C20.2353 7.42807 20.5462 7.33627 20.8823 7.44407C21.0898 7.51061 21.3045 7.65365 21.4442 7.89598C21.5136 8.01636 21.5506 8.1373 21.5685 8.248C21.6161 8.4224 21.6085 8.5946 21.5713 8.74328C21.4911 9.06354 21.2661 9.31335 21.0613 9.50442C20.886 9.66824 18.6163 11.8567 16.3773 14.0171C15.2608 15.0945 14.1556 16.1612 13.3295 16.9586L12.787 17.4824L19.6376 22.7345C19.7947 22.7908 19.8876 22.7879 19.9305 22.782C19.9817 22.775 20.0236 22.7553 20.0664 22.7211C20.1143 22.6828 20.1562 22.6311 20.1875 22.5817L20.1887 22.5797L23.561 5.57785C23.5109 5.58988 23.4603 5.6042 23.4115 5.61973C23.3563 5.63731 23.3108 5.65406 23.2806 5.66576C23.2656 5.67156 23.2548 5.67595 23.249 5.67838L23.247 5.67917ZM13.3755 20.1387L12.0088 19.0909L11.6776 21.1976L13.3755 20.1387ZM10.755 17.0116L12.1141 15.6995C12.9402 14.9021 14.0455 13.8353 15.1622 12.7578L16.2968 11.6632L8.69007 16.1161L8.73089 16.2123C8.93821 16.7013 9.2178 17.3632 9.50665 18.0543C9.72263 18.5711 9.94848 19.1152 10.1542 19.619L10.4844 17.5185C10.5162 17.316 10.6152 17.1406 10.755 17.0116Z"
										      fill="#1F1F1E"/>
										</svg>'
						},
						{
							link:'#',
							icon: '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M3.27121 9.74552C2.94437 12.7822 2.95894 16.2846 3.41373 19.3089C3.66538 20.9824 5.03116 22.2653 6.71708 22.4119L8.47902 22.565C12.1529 22.8844 15.8476 22.8844 19.5215 22.565L21.2834 22.4119C22.9693 22.2653 24.3351 20.9824 24.5867 19.3089C25.0415 16.2845 25.0561 12.7824 24.7293 9.7457C24.687 9.39365 24.6395 9.04207 24.5867 8.69108C24.3351 7.01762 22.9693 5.7347 21.2834 5.58815L19.5215 5.43499C15.8476 5.11562 12.1529 5.11562 8.47901 5.43499L6.71708 5.58815C5.03116 5.7347 3.66538 7.01762 3.41373 8.69108C3.36096 9.04201 3.31345 9.39353 3.27121 9.74552ZM8.63057 7.17841C12.2036 6.86781 15.7969 6.86781 19.3699 7.17841L21.1318 7.33157C22.0119 7.40807 22.7248 8.07776 22.8562 8.95131C22.8698 9.04203 22.8831 9.13278 22.896 9.22358L16.4082 12.8279C14.9106 13.6599 13.0897 13.6599 11.5922 12.8279L5.10446 9.22362C5.11736 9.13281 5.13063 9.04204 5.14428 8.95131C5.27564 8.07776 5.98858 7.40807 6.86863 7.33157L8.63057 7.17841ZM23.1102 11.1065C23.3365 13.7523 23.2518 16.4179 22.8562 19.0487C22.7248 19.9222 22.0119 20.5919 21.1318 20.6684L19.3699 20.8216C15.7969 21.1322 12.2036 21.1322 8.63057 20.8216L6.86863 20.6684C5.98858 20.5919 5.27564 19.9222 5.14428 19.0487C4.74867 16.4179 4.66402 13.7523 4.89031 11.1066L10.7423 14.3577C12.7684 15.4833 15.232 15.4833 17.2581 14.3577L23.1102 11.1065Z" fill="#1F1F1E"/>
									</svg>'
						}
					]
				} only %}
			</div>
		</div>
	</div>
</section>
