<section class="home-franchise" id="franchise">
	<div class="container">
		<div class="home-franchise__img">
			<picture>
				<source srcset="images/icon/lightning-big.webp 1x, images/icon/lightning-big@2x.webp 1.3x"
				        type="image/webp">
				<source srcset="images/icon/lightning-big.png 1x, images/icon/lightning-big@2x.png 1.3x"
				        type="image/png">
				<img src="images/icon/lightning-big.png" width="719" height="824" alt="" loading="lazy">
			</picture>
		</div>
		<div class="home-franchise__bg">
			<picture>
				<source srcset="images/icon/lightning-small.webp 1x, images/icon/lightning-small@2x.webp 1.3x"
				        type="image/webp">
				<source srcset="images/icon/lightning-small.png 1x, images/icon/lightning-small@2x.png 1.3x"
				        type="image/png">
				<img src="images/icon/lightning-small.png" width="719" height="719" alt="" loading="lazy">
			</picture>
		</div>
		<div class="home-franchise__top">
			<h2 class="home-franchise__title">
				Стань частью франшизы
			</h2>
			<div class="home-franchise__text">
				<p>
					Открой эксклюзивный офис крупного обменника в своем городе
					с полным обучением и сопровождением!
				</p>
			</div>
			<ul class="home-franchise__list list-reset">
				<li>
					<img src="images/icon/calendar.svg" alt="" width="64" height="64">
					<div>
						Срок запуска <br> <b>2-3 недели</b>
					</div>
				</li>
				<li>
					<img src="images/icon/bank.svg" alt="" width="64" height="64">
					<div>
						Сумма вложений <br><b>от 1.250 млн руб.</b>
					</div>
				</li>
				<li>
					<img src="images/icon/lightning.svg" alt="" width="64" height="64">
					<div>
						Заработок за год<br> <b>от 3.000.000 руб.</b>
					</div>
				</li>
			</ul>
			<a href="#" class="b-btn b-btn--secondary">
				Подробности о франшизе
			</a>
		</div>
	</div>
</section>
