{% set reviews = [
	{
		'class':'box-panel',
		'icon':'<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 15C15.5 10.3056 19.3056 6.5 24 6.5C28.6944 6.5 32.5 10.3056 32.5 15C32.5 19.6944 28.6944 23.5 24 23.5C19.3056 23.5 15.5 19.6944 15.5 15ZM24 9.5C20.9624 9.5 18.5 11.9624 18.5 15C18.5 18.0376 20.9624 20.5 24 20.5C27.0376 20.5 29.5 18.0376 29.5 15C29.5 11.9624 27.0376 9.5 24 9.5Z" fill="#1F1F1E"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M16 29.5C13.5147 29.5 11.5 31.5147 11.5 34V36.3766C11.5 36.4128 11.5262 36.4436 11.5619 36.4494C19.7994 37.7943 28.2006 37.7943 36.4381 36.4494C36.4738 36.4436 36.5 36.4128 36.5 36.3766V34C36.5 31.5147 34.4853 29.5 32 29.5H31.3183C31.2656 29.5 31.2132 29.5083 31.1631 29.5247L29.432 30.0899C25.9024 31.2425 22.0976 31.2425 18.568 30.0899L16.8369 29.5247C16.7868 29.5083 16.7344 29.5 16.6817 29.5H16ZM8.5 34C8.5 29.8579 11.8579 26.5 16 26.5H16.6817C17.0507 26.5 17.4174 26.5583 17.7681 26.6729L19.4992 27.2381C22.4237 28.1931 25.5763 28.1931 28.5008 27.2381L30.2319 26.6729C30.5826 26.5583 30.9493 26.5 31.3183 26.5H32C36.1421 26.5 39.5 29.8579 39.5 34V36.3766C39.5 37.883 38.4082 39.1675 36.9215 39.4102C28.3638 40.8074 19.6362 40.8074 11.0785 39.4102C9.59177 39.1675 8.5 37.883 8.5 36.3766V34Z" fill="#1F1F1E"/>
				</svg>',
		'name':'Станислав',
		'date':'23/11/23',
		'text':'Обмен прошел гладко, без нервов, сервис не подводит Обмен прошел гладко, без нервов, сервис не подводит',
	},
	{
		'class':'box-panel',
		'icon':'<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 15C15.5 10.3056 19.3056 6.5 24 6.5C28.6944 6.5 32.5 10.3056 32.5 15C32.5 19.6944 28.6944 23.5 24 23.5C19.3056 23.5 15.5 19.6944 15.5 15ZM24 9.5C20.9624 9.5 18.5 11.9624 18.5 15C18.5 18.0376 20.9624 20.5 24 20.5C27.0376 20.5 29.5 18.0376 29.5 15C29.5 11.9624 27.0376 9.5 24 9.5Z" fill="#1F1F1E"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M16 29.5C13.5147 29.5 11.5 31.5147 11.5 34V36.3766C11.5 36.4128 11.5262 36.4436 11.5619 36.4494C19.7994 37.7943 28.2006 37.7943 36.4381 36.4494C36.4738 36.4436 36.5 36.4128 36.5 36.3766V34C36.5 31.5147 34.4853 29.5 32 29.5H31.3183C31.2656 29.5 31.2132 29.5083 31.1631 29.5247L29.432 30.0899C25.9024 31.2425 22.0976 31.2425 18.568 30.0899L16.8369 29.5247C16.7868 29.5083 16.7344 29.5 16.6817 29.5H16ZM8.5 34C8.5 29.8579 11.8579 26.5 16 26.5H16.6817C17.0507 26.5 17.4174 26.5583 17.7681 26.6729L19.4992 27.2381C22.4237 28.1931 25.5763 28.1931 28.5008 27.2381L30.2319 26.6729C30.5826 26.5583 30.9493 26.5 31.3183 26.5H32C36.1421 26.5 39.5 29.8579 39.5 34V36.3766C39.5 37.883 38.4082 39.1675 36.9215 39.4102C28.3638 40.8074 19.6362 40.8074 11.0785 39.4102C9.59177 39.1675 8.5 37.883 8.5 36.3766V34Z" fill="#1F1F1E"/>
				</svg>',
		'name':'Станислав',
		'date':'23/11/23',
		'text':'Обмен прошел гладко, без нервов, сервис не подводит',
	},
	{
		'class':'box-panel',
		'icon':'<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 15C15.5 10.3056 19.3056 6.5 24 6.5C28.6944 6.5 32.5 10.3056 32.5 15C32.5 19.6944 28.6944 23.5 24 23.5C19.3056 23.5 15.5 19.6944 15.5 15ZM24 9.5C20.9624 9.5 18.5 11.9624 18.5 15C18.5 18.0376 20.9624 20.5 24 20.5C27.0376 20.5 29.5 18.0376 29.5 15C29.5 11.9624 27.0376 9.5 24 9.5Z" fill="#1F1F1E"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M16 29.5C13.5147 29.5 11.5 31.5147 11.5 34V36.3766C11.5 36.4128 11.5262 36.4436 11.5619 36.4494C19.7994 37.7943 28.2006 37.7943 36.4381 36.4494C36.4738 36.4436 36.5 36.4128 36.5 36.3766V34C36.5 31.5147 34.4853 29.5 32 29.5H31.3183C31.2656 29.5 31.2132 29.5083 31.1631 29.5247L29.432 30.0899C25.9024 31.2425 22.0976 31.2425 18.568 30.0899L16.8369 29.5247C16.7868 29.5083 16.7344 29.5 16.6817 29.5H16ZM8.5 34C8.5 29.8579 11.8579 26.5 16 26.5H16.6817C17.0507 26.5 17.4174 26.5583 17.7681 26.6729L19.4992 27.2381C22.4237 28.1931 25.5763 28.1931 28.5008 27.2381L30.2319 26.6729C30.5826 26.5583 30.9493 26.5 31.3183 26.5H32C36.1421 26.5 39.5 29.8579 39.5 34V36.3766C39.5 37.883 38.4082 39.1675 36.9215 39.4102C28.3638 40.8074 19.6362 40.8074 11.0785 39.4102C9.59177 39.1675 8.5 37.883 8.5 36.3766V34Z" fill="#1F1F1E"/>
				</svg>',
		'name':'Станислав',
		'date':'23/11/23',
		'text':'Обмен прошел гладко, без нервов, сервис не подводит',
	},
] %}

<section class="home-reviews">
	<div class="container">
		<h2 class="home-reviews__title section-title">
			{{ reviewsTitle }}
		</h2>
		<div class="home-reviews__wrapper">
			{% include '../../components/cards/card-reviews.twig' with {
				reviews:reviews,
				class:'card-reviews--home',
				clasS:true,
			} only %}
			<a href="news.html" class="home-reviews__btn b-btn b-btn--secondary b-btn--icon">
				<span>Все отзывы</span>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z"
					      fill="#1F1F1E"/>
				</svg>
			</a>
		</div>
	</div>
</section>
