<section class="latest">
	<div class="container">
		{% include '../../blocks/latest-exchange.twig' with {
			title:'Последние обмены',
			head:true,
			cardExchange:[
				{
					'class':'box-panel',
					'date':'10/11/2023',
					'time':'21:02',
					'img':'images/icon/moon-big.svg',
					'value':'1016.26016',
					'currency':'USD',
					'imgSecond':'images/icon/moon-big.svg',
					'valueSecond':'1016.26016',
					'currencySecond':'USD',
				},
				{
					'class':'box-panel',
					'date':'10/11/2023',
					'time':'21:02',
					'img':'images/icon/moon-big.svg',
					'value':'1016.26016',
					'currency':'USD',
					'imgSecond':'images/icon/moon-big.svg',
					'valueSecond':'1016.26016',
					'currencySecond':'USD',
				},
				{
					'class':'box-panel',
					'date':'10/11/2023',
					'time':'21:02',
					'img':'images/icon/moon-big.svg',
					'value':'1016.26016',
					'currency':'USD',
					'imgSecond':'images/icon/moon-big.svg',
					'valueSecond':'1016.26016',
					'currencySecond':'USD',
				},
			]
		} only %}
	</div>
</section>
