<div class="map">
	<div class="container">
		<div class="map__wrapper">
			<div class="map__wrap">
				<div class="map__img">
					<img src="images/home/map/map.svg" alt="" width="903" height="539">
					<div class="map-dot" data-city="RU-KAG">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Калининград</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1 ул. Красная площадь, д.1,
									кв.1
								</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="ANTALYA">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Анталья</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="ISTANBUL">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Стамбул</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-SPB">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Санкт-Петербург</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-SMOLENSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Смоленск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-MARIUPOL">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Мариуполь</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-ANAPA">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Анапа</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-NVRSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Новороссийск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-GELENZHIK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Геленджик</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-SOCHI">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Сочи</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-RND">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Ростов-на-Дону</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-KRD">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Краснодар</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-STAVROPOL">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Ставрополь</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-MAKHACHKALA">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Махачкала</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-CHEREPOVETS">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Череповец</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-VRN">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Воронеж</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-VOLGRAD">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Волгоград</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-MOW">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Москва</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-SARATOV">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Саратов</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-NIZHNOV">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Нижний Новгород</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-KAZAN">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Казань</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-ULYANOVSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Ульяновск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-TLT">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Тольятти</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-PERM">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Пермь</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-UFA">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Уфа</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-CHELYABINSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Челябинск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-EKB">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Екатеринбург</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-TUMEN">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Тюмень</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-OMSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Омск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-NOVSIB">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Новосибирск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-TOMSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Томск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-KEM">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Кемерово</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-BARNAUL">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Барнаул</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-KRASNOYARSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Красноярск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-OMSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Омск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-IRKUTSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Иркутск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-BLG">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Благовещенск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-KHABAROVSK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Хабаровск</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-VLD">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Владивосток</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="RU-BISHKEK">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Бишкек</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="SHARJAH">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Шарджа</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
					<div class="map-dot" data-city="DUBAI">
						<div class="map-dot__circle"></div>
						<div class="map-dot__description">
							<div class="map-dot__wrap">
								<div class="map-dot__title">Дубай</div>
								<div class="map-dot__text">ул. Красная площадь, д.1, кв.1</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map__list box-panel">

					<ul class="map-list list-reset">
						<li class="map-list__item" data-city="RU-MOW">
							<div class="map__name">
								Москва
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-SPB">
							<div class="map__name">
								Санкт-Петербург
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-ANAPA">
							<div class="map__name">
								Анапа
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="ANTALYA">
							<div class="map__name">
								Анталья
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-BARNAUL">
							<div class="map__name">
								Барнаул
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-BISHKEK">
							<div class="map__name">
								Бишкек
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-BLG">
							<div class="map__name">
								Благовещенск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-VLD">
							<div class="map__name">
								Владивосток
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-VOLGRAD">
							<div class="map__name">
								Волгоград
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-VRN">
							<div class="map__name">
								Воронеж
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-GELENZHIK">
							<div class="map__name">
								Геленджик
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="DUBAI">
							<div class="map__name">
								Дубаи
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-EKB">
							<div class="map__name">
								Екатеринбург
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-IRKUTSK">
							<div class="map__name">
								Иркутск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KAZAN">
							<div class="map__name">
								Казань
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KAG">
							<div class="map__name">
								Калининград
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KEM">
							<div class="map__name">
								Кемерово
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KRD">
							<div class="map__name">
								Краснодар
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KRASNOYARSK">
							<div class="map__name">
								Красноярск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-MARIUPOL">
							<div class="map__name">
								Мариуполь
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-MAKHACHKALA">
							<div class="map__name">
								Махачкала
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-NIZHNOV">
							<div class="map__name">
								Нижний Новгород
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-NVRSK">
							<div class="map__name">
								Новороссийск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-NOVSIB">
							<div class="map__name">
								Новосибирск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-OMSK">
							<div class="map__name">
								Омск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-RND">
							<div class="map__name">
								Ростов-на-Дону
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-PERM">
							<div class="map__name">
								Пермь
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-SARATOV">
							<div class="map__name">
								Саратов
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-SOCHI">
							<div class="map__name">
								Сочи
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-STAVROPOL">
							<div class="map__name">
								Ставрополь
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="ISTANBUL">
							<div class="map__name">
								Стамбул
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-SMOLENSK">
							<div class="map__name">
								Смоленск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-TLT">
							<div class="map__name">
								Тольятти
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-TOMSK">
							<div class="map__name">
								Томск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-TUMEN">
							<div class="map__name">
								Тюмень
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-ULYANOVSK">
							<div class="map__name">
								Ульяновск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-UFA">
							<div class="map__name">
								Уфа
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-KHABAROVSK">
							<div class="map__name">
								Хабаровск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-CHELYABINSK">
							<div class="map__name">
								Челябинск
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="RU-CHEREPOVETS">
							<div class="map__name">
								Череповец
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
						<li class="map-list__item" data-city="SHARJAH">
							<div class="map__name">
								Шарджа
							</div>
							<div class="map__address">
								ул. Красная площадь, д.1, кв.1
							</div>
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>
