<div class="warning">
	<div class="container">
		{% include '../../components/accordion.twig' with {
			accordion:[
				{
					'title':("Ваши транзакции электронной валюты должны быть легальными и пройти AML проверку"),
					'text':("<p>Все ваши криптовалютные транзакции должны быть легальными, и полученными не в результате кардинга или взлома чужих кошельков.</p>
							<p>Мы осуществляем AML проверку транзакций, ваша криптовалюта по оценке сканеров
								AML bot и Getblock должна быть чистой и иметь общий уровень риска не более 50 процентов,
								а также мы не принимаем Stolen Coins и Scam с уровнем риска более 1
								процента в общей массе, даже если общий уровень риска ниже в общей массе.
							</p>
							<p>Если вы отправите нам транзакцию уровня риска более 50 процентов или Stolen Coins
								 и Scam с уровнем риска более 1 процента в общей массе, даже если общий уровень риска ниже в
								 общей массе и сделаете подмену кошелька, вам будет произведен возврат за вычетом сервисного
								 сбора за последствия данного перевода для нас в размере 3 процентов.
							 </p>")
				},
			]
		} only %}
	</div>
</div>
